.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    text-decoration: none;
}
.awslogo {
    width: 35px;
}

a { 
    color: inherit; 
} 

a:hover{
    text-decoration: none;
}