<div class="d-block font-weight-bold bg-dark text-white text-right rounded p-2">
  <h6 class='mb-0'><i class="ion-ios-person" data-pack="default" data-tags="talk"></i> Users</h6>
</div>
<div class="user-list">
  <div class="list-group mb-2">
    <div *ngIf="no_user;">
        <br/>
        <ngb-alert type="success" [dismissible]="false">
          <span>It looks lonely here... Sign up another user</span>
        </ngb-alert>
    </div>
    <a href='#' *ngFor="let user of users"
    class="list-group-item list-group-item-action p-2 border-0 bg"
    (click)="createNewConversation(user, $event); false">
    {{user.username}}</a>
  </div>
</div>
