.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  background-color: gray !important;
}

.convo-list {
  height: auto;
  max-height: 30vh !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.bg {
  background-color: #e4e7eb;
}

.list-group-item:hover {
  color: white;
  background-color: gray; 
}