<div class="container">
    <div class="jumbotron p-0 m-0 vertical-center">
      <div class="justify-content-center p-0 m-0">
        <img class="chatql-image rounded-top img-fluid" src="../../assets/img/chat.jpg" alt="https://freerangestock.com/photos/65403/exchanging-ideas--argument-and-debate-concept.html">
      </div>
      <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
    <form class="p-3" (ngSubmit)="onSubmit()" #signinForm="ngForm">
      <h3 class="display-5 text-center">Sign In</h3>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required
        [(ngModel)]="model.username" name="username"
        >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required
        [(ngModel)]="model.password" name="password"
        >
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <span>or <a routerLink='/signup'>Sign Up</a></span>

    </form>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
