.chatql-image {
    min-width: 100%;
    width: auto;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center {
    min-height: 80%;
    min-height: 80vh;
}

.appsync{
    height: 65px;
}

