<div class="container">
  <div class="jumbotron p-0 m-0 vertical-center">
    <div class="justify-content-center p-0 m-0">
      <img class="chatql-image rounded-top img-fluid" src="../../assets/img/chat.jpg" alt="https://freerangestock.com/photos/65403/exchanging-ideas--argument-and-debate-concept.html">
    </div>
    <br/>
    <h1 class="display-4 text-center p-0 m-0">ChatQL</h1>
    <hr class="p-0 m-3 my-3">
    <p class="text-center p-1">Bringing together what some people love the most: Conversations and GraphQL</p>
    <h1 class="text-center"><a href="https://aws.amazon.com/appsync" target="_blank"><img class="img-fluid mx-auto d-block appsync" src="../../assets/img/AppSync.png" alt="AWS AppSync"></a><i class="ion-chatbubbles" data-pack="default" data-tags="talk"></i></h1>
  </div>
</div>
<br/>
<br/>
<br/>
